{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    {% if request.user.is_authenticated %}
        <a href="#" class="btn my-1">Book today</a>
    {% endif %}
</div>

<!-- Parallax section 1 -->
<div class="para-1"> 
</div>
<div class="parallax-1 text-center py-4 px-3">
    <h2>Do you need help with your house plants?</h2>
    <div class="text-center mb-3">
        {% if request.user.is_authenticated %}
            <a href="#" class="btn my-1">Book today <i class="far fa-smile"></i></a>
        {% endif %}
    </div>
    <p class="text-content mx-2">
        Cupcake ipsum dolor sit amet topping chupa chups. Candy sweet sweet roll sweet roll chocolate bar. Ice cream cake icing sugar plum cupcake.
        Chupa chups jujubes danish toffee topping donut tart jelly carrot cake. Wafer topping dragée croissant cotton candy lemon drops. Gingerbread ice cream muffin danish jujubes donut chocolate bar. Jelly beans croissant cookie icing carrot cake candy.
        Chocolate toffee tiramisu chocolate muffin dessert jelly-o macaroon dessert. Jelly shortbread bonbon jelly-o halvah cake cake. Icing jujubes candy pastry macaroon wafer toffee cookie.
        Lemon drops sesame snaps macaroon carrot cake halvah. Pie cookie dessert pie bonbon topping marshmallow cupcake. Chocolate halvah chocolate bar dragée chocolate tiramisu.
        Biscuit sesame snaps chocolate cake cake lollipop pudding jelly-o biscuit sugar plum. Tart gummies lollipop halvah chocolate bar icing brownie topping. Tart muffin candy donut tart shortbread jelly beans cake. Shortbread tootsie roll pie bear claw macaroon soufflé pie cotton candy pudding.</p>
        {% if request.user.is_authenticated %}
       <!-- nothing here for logged in user --> 
        {% else %}
            <a href="{% url 'account_login' %}" class="btn my-1">Login</a>
            <a href="{% url 'account_signup' %}" class="btn my-1">Register here</a>
        {% endif %}
</div>
<!-- Parallax section 2 -->
<div class="para-2"></div>
<div class="parallax-2 text-center py-4  px-3">
    <h2>Some tips and tricks</h2>
    <p class="text-content mb-0 mx-2">
        Cupcake ipsum dolor sit amet topping chupa chups. Candy sweet sweet roll sweet roll chocolate bar. Ice cream cake icing sugar plum cupcake.
        Chupa chups jujubes danish toffee topping donut tart jelly carrot cake. Wafer topping dragée croissant cotton candy lemon drops. Gingerbread ice cream muffin danish jujubes donut chocolate bar. Jelly beans croissant cookie icing carrot cake candy.
        Chocolate toffee tiramisu chocolate muffin dessert jelly-o macaroon dessert. Jelly shortbread bonbon jelly-o halvah cake cake. Icing jujubes candy pastry macaroon wafer toffee cookie.
        Lemon drops sesame snaps macaroon carrot cake halvah. Pie cookie dessert pie bonbon topping marshmallow cupcake. Chocolate halvah chocolate bar dragée chocolate tiramisu.
        Biscuit sesame snaps chocolate cake cake lollipop pudding jelly-o biscuit sugar plum. Tart gummies lollipop halvah chocolate bar icing brownie topping. Tart muffin candy donut tart shortbread jelly beans cake. Shortbread tootsie roll pie bear claw macaroon soufflé pie cotton candy pudding.</p>
</div>
<!-- Parallax section 3 -->
{% if request.user.is_authenticated %}
<div></div>
{% else %}
<div class="para-1"></div>
<div class="parallax-2 text-center py-4  px-3">
    <h2>Why Register?</h2>
    <p class="text-content mx-2">
        Cupcake ipsum dolor sit amet topping chupa chups. Candy sweet sweet roll sweet roll chocolate bar. Ice cream cake icing sugar plum cupcake.
        Chupa chups jujubes danish toffee topping donut tart jelly carrot cake. Wafer topping dragée croissant cotton candy lemon drops. Gingerbread ice cream muffin danish jujubes donut chocolate bar. Jelly beans croissant cookie icing carrot cake candy.
        Chocolate toffee tiramisu chocolate muffin dessert jelly-o macaroon dessert. Jelly shortbread bonbon jelly-o halvah cake cake. Icing jujubes candy pastry macaroon wafer toffee cookie.
        Lemon drops sesame snaps macaroon carrot cake halvah. Pie cookie dessert pie bonbon topping marshmallow cupcake. Chocolate halvah chocolate bar dragée chocolate tiramisu.
        Biscuit sesame snaps chocolate cake cake lollipop pudding jelly-o biscuit sugar plum. Tart gummies lollipop halvah chocolate bar icing brownie topping. Tart muffin candy donut tart shortbread jelly beans cake. Shortbread tootsie roll pie bear claw macaroon soufflé pie cotton candy pudding.</p>
    <a href="{% url 'account_signup' %}" class="btn my-1">Register here</a>
</div>
{% endif %}
<div class="para-2"></div>
<div class="parallax-2 text-center py-4  px-3">
    {% if request.user.is_authenticated %}
    <a href="#" class="btn my-1">Request a booking today</a>
            <a href="#" class="btn my-1">Learn more about the benefits of House plants here</a>
    {% else %}
    <p class="text-content m-2">Please register or login to access our services 
        <a href="{% url 'account_signup' %}" class="my-3 px-3 footer-home-btn">Register</a>
        <a href="{% url 'account_login' %}" class="my-3 px-3 footer-home-btn">Login</a>
    </p>
    {% endif %}
</div>
{% endblock %}